.bar-chart {
    -fx-alternative-row-visible: false;
    -fx-alternative-column-visible: false;
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible:false;
    -fx-horizontal-zero-line-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis {
    -fx-border-color: transparent;
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-tick-labels-visible: false;
}


.chart{
    -fx-clockwise:false;
    -fx-pie-label-visible:true;
    -fx-legend-visible:false;
    -fx-legend-side: bottom;
}

.chart-title {

  -fx-font-size: 1.6em;
}

.chart-pie-label{
    -fx-font-size: 13px;
    -fx-fill:white;
}

.chart-content{
    -fx-padding :2;
}

.default-color0.chart-pie{
    -fx-pie-color: yellow;
}

